<div class="autoBiography" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <img src="{{environment.baseURL}}/assets/pictures/me.jpg" alt="picture of ZY" />
    <div class="contact" fxLayout="column" fxLayoutAlign="center start">
        <p>
            <mat-icon>laptop_mac</mat-icon>ZY on Mac</p>
        <p>
            <a class="emailLink" href="mailto:ken1019096@gmail.com?subject=Mail from ZYBLog">
                <mat-icon>email</mat-icon>ken1019096@gmail.com
            </a>
            <p>半導體轉軟體工程師進行中</p>
    </div>
</div>

<div class="container_chart" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="chart" fxFlex="1 1">
        <p>
            <mat-icon>account_tree</mat-icon>技能條</p>
        <app-skill-chart></app-skill-chart>
    </div>
    <div class="chart" fxFlex="1 1">
        <p>
            <mat-icon>self_improvement</mat-icon>能力分佈</p>
        <app-ability-chart></app-ability-chart>
    </div>
</div>

<div class="card">
    <p>
        <mat-icon>school_outline</mat-icon>學術經歷</p>
    <div class="card_detail" fxLayout="row" fxLayoutAlign="space-around strech">
        <div class="card_title" fxLayout="column">
            <p>碩士</p>
            <p>2019</p>
            <p>|</p>
            <p>2017</p>
        </div>
        <div class="card_content">
            <p class="card_content_title">台灣大學-材料所</p>
            <p>
                <mat-icon>verified</mat-icon>論文:<br />二維材料與矽之異質接面於提升光電化學產氧效率之應用
            </p>
            <p>
                <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/aenm.201901022">
                    <mat-icon>verified</mat-icon>共同作者期刊論文:<br />Advanced Energy Materials: Creation of 3D Textured Graphene/Si Schottky Junction Photocathode for Enhanced Photo‐Electrochemical Efficiency and Stability
                </a>
            </p>
        </div>
    </div>
    <hr />
    <div class="card_detail" fxLayout="row" fxLayoutAlign="space-around strech">
        <div class="card_title" fxLayout="column">
            <p>交換生</p>
            <p>2017</p>
        </div>
        <div class="card_content">
            <p class="card_content_title">首爾大學-材料系</p>
            <p>
                <mat-icon>verified</mat-icon>提升國際視野</p>
            <p>
                <mat-icon>verified</mat-icon>提升外語能力</p>
        </div>
    </div>
    <hr />
    <div class="card_detail" fxLayout="row" fxLayoutAlign="space-around strech">
        <div class="card_title" fxLayout="column">
            <p>學士</p>
            <p>2017</p>
            <p>|</p>
            <p>2013</p>
        </div>
        <div class="card_content">
            <p class="card_content_title">交通大學-材料系</p>
            <p>
                <mat-icon>verified</mat-icon>專題研究:<br />硫化鎘-奈米金粒子-氧化鋅Z型能帶結構應用於光電化學水分解產氫效率提升
            </p>
            <p>
                <a href="http://www.mcare2017.org/mcare2017/">
                    <mat-icon>verified</mat-icon>研討會經歷:<br />Materials Challenges in Alternative and Renewable Energy 2017</a>
            </p>
        </div>
    </div>
</div>

<div class="card">
    <p>
        <mat-icon>work_outline</mat-icon>工作經歷</p>
    <div class="card_detail" fxLayout="row" fxLayoutAlign="space-around strech">
        <div class="card_title" fxLayout="column">
            <p>台積電</p>
            <p>2020</p>
        </div>
        <div class="card_content">
            <p class="card_content_title">奈米擴散製程工程師</p>
            <p>
                <mat-icon>verified</mat-icon>職責:<br /> 1.半導體製程品質維護及提升
                <br /> 2.製程缺陷分析
                <br /> 3.新製程相關規格建立
                <br /> 4.處理製程異常突發事件
                <br />
            </p>

            <p>
                <mat-icon>verified</mat-icon>習得技能:<br /> 1.SPC數據分析
                <br /> 2.EXCEL數據分析
                <br /> 3.快速組織簡報能力
                <br /> 4.半導體先進製程與原理
                <br />
            </p>
        </div>
    </div>
</div>